option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: 3001
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: PEERJS_PORT
    value: 3001
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: WS_PORT
    value: 3002